{% extends 'base.html.twig' %}

{% block body %}

    <div>{{ agent1.email }}</div>
    <div>{{ agent.name }}</div>

    <p>ivoice amount:{{ invoice.amount }}</p>

    {% for inv in agent.invoices %}
        <p>agent invoice:{{ inv.amount }}</p>
    {% endfor %}
    {% for p in prices %}
        <p>price:{{ p.price }}</p>
    {% endfor %}

{% endblock body %}