{% extends 'base.html.twig' %}

{% block body %}

    <div class="app-login flex flex-column">

        <div class="col-auto flex j-c-center">
            <img class="logo" src="/img/logo.svg" alt="Smarket">
        </div>

        <div class="auth-wrap m-auto">
            <h1 class="text-center c-white">Вход в систему</h1>

            <div class="box">
                <form onsubmit="Login.call(this,event);" novalidate>
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control"
                                   id="input-login"
                                   type="text"
                                   size="1"
                                   maxlength="50"
                                   name="login"
                                   value=""
                                   placeholder="Логин (ID)"
                                   autocomplete="off">
                            <label class="append" for="input-login">
                                <svg class="icon">
                                    <use xlink:href="#icon-user"></use>
                                </svg>
                            </label>
                        </div>
                        <div class="error"></div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control"
                                   id="input-password"
                                   type="password"
                                   size="1"
                                   maxlength="50"
                                   name="password"
                                   value=""
                                   placeholder="Пароль"
                                   autocomplete="off">
                            <label class="append" for="input-password">
                                <svg class="icon">
                                    <use xlink:href="#icon-password"></use>
                                </svg>
                            </label>
                        </div>
                        <div class="error"></div>
                    </div>

                    <div class="form-group">
                        <div class="field flex a-i-center">
                            <label class="checkbox-group">
                            <span class="mr-0">
                                <span>Нажимая кнопку "Войти" вы автоматически принимаете </span>
                                <a class="btn btn-link-accent btn-link" onclick="Agreement()">условия соглашения</a>
                            </span>
                            </label>

                        </div>
                        <div class="error"></div>
                    </div>

                    <div class="form-group mb-0 flex j-c-center">
                        <button class="btn btn-primary" type="submit">Войти</button>
                    </div>
                </form>
            </div>

            <div class="nav flex j-c-between">
                <div class="col-auto">
                    <a class="btn btn-link-white" href="/recover">Забыли пароль?</a>
                </div>
                <div class="col-auto">
                    <a class="btn btn-link-white" href="/register">Регистрация</a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}